@charset "UTF-8";
/* CSS Document */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 100%;
  margin: 0;   
}

.max-width-wrapper {
  min-height: 100%; 
  max-width: 1440px;
  /* Overflow: hidden hides the excess portions of the decorative elements so there isn't a 
  horizontal scrollbar, plus make sure margin is 0 so displays to the edge */
  overflow: hidden;
  margin: 0;
  
 } 

figure {
  margin: 0;
}

img {
  width: 100%;
}
/**************************************************/
/* Header Section - Mobile First */
/**************************************************/
/* Navbar container */
header {
  /* background-color:#E9E7EA; */
}
.container-fluid {
  background-color:#E9E7EA;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
  padding: 0; 
}

.header-content-container {
  background-color:#E9E7EA;
  padding-top: 130px;
  position: relative;
}

.header-message {
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  position: absolute;
  top: 70px;
}

.header-message h1 {
  font-size: 32px;
  color: rgb(40, 40, 108);
  margin-bottom: 40px;
}

/*Get started button*/
.link-to-get-started {
  font-size: 18px;
  color: white;
  text-decoration: none;
  background-color: rgb(34, 34, 187);
  padding: 10px 40px;
  border-radius: 15px;
}
.decorative-drawings-container {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-bottom: 60px;
}

#header-decor-container-1,
#header-decor-container-2 {
  width: 120px;
}

.decorative-drawings-container figure:first-child {
  margin-top: 80px;
}

.decorative-drawings-container figure {
  /* width: 120px; */
  margin-top: 80px;
  margin-bottom: 20px;
}

.decorative-drawings-container p {
  font-size: 20px;
  /* width: ; */
  text-align: center;
  color: rgb(40, 40, 108);
  margin: 0;
  
}

/**************************************************/
/* How It Works Section - Mobile */
/**************************************************/
.how-it-works-wrapper {
  position: relative;
  margin-top: 50px;
}
h2 {
  margin-top: 60px;
  text-align: center;
}
.top-curved-line {
  position: absolute;
  top: 520px;
  left: 40px;
  width: 300px;
}
.bottom-curved-line {
  position: absolute;
  top: 1130px;
  left: 40px;
  width: 300px;
}
.how-it-works-container {
  border-top: 3px solid rgb(211, 208, 208);
  margin-left: 20px;
  margin-right: 20px;
}
.first-image {
  /* margin-bottom: */
}
.third-image {
  height: 300px;
  overflow: hidden;
}
.step-container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.step-container figure {
  margin-bottom: 30px;
}
#step-two,
#step-three {
  margin-top: 160px;
}